@import '../../../style.module.scss';

.minha__sacola__total {
    background-color: $colorBorder;
    width: 18vw;
    grid-column: 7/7;
    grid-row: span 3/span 1;
    margin-top: -279%;
    @media screen and (max-width: 576px){
        grid-column: 2/7;
        grid-row: 5;
        justify-content:center;
        margin: 0 0 0 6%;
        margin-top: 0%;
        width: 90%;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        margin-top: 0%;
        grid-column: 2/ 3;
        grid-row: 5;
        width: 60vw;
        
    }
    @media screen and (min-width: 769px) and (max-width: 992px){
        margin-top: 0%;
        grid-column: 2/ 3;
        grid-row: 5;
        width: 60vw;
    }
    @media screen and (min-width: 993px) and (max-width: 1200px){
        margin-top: 0%;
        width: 22vw;
    }     
}
.minha__sacola__total__final {
    display: flex;
    justify-content: space-between;
    margin: 0 2% 0 2%;
}
.minha__sacola__total__conteudo {
    color: $colorText;
    font-style: normal;
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 5vh;
}
.minha__sacola__botao__total {
    margin-top: 50%;
    text-align: -webkit-center;
    @media screen and (max-width: 576px){
        text-align: -webkit-center;
    }
}
.minha__sacola__botao__total__pagamento {
    @include buttonSacola;
    width: 90%;
}
.minha__sacola__imagem2 {
    height: 33vh;
    margin: 0%;
    width: 12vw;
    @media screen and (max-width: 576px){
        height: 50vh;
        margin: 0 20% 0 22%;
        width: 51vw;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 31vh;
        width: 22vw;
    }
}