.cabecalho {
    align-items: center;    
    background-color: #FFFF;
    display: flex;
    justify-content: space-between;
    height: 5%;
    margin: 0 0 0 4%;
    width: 90%;
}
.cabecalho__logo {
    align-items: end;
    display: grid;
}
.cabecalho__logo__titulo {            
    font-family: Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 73%;
    margin-block-end: 0%;
}
.cabecalho__logo__texto {
    font-family: Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    justify-self: end;
    margin-top: auto;
}
.cabecalho__vetor {
    margin: 0 5% 0 0;
    
}



.menu__botao{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 2em;
    max-block-size: -webkit-fill-available;
    place-content: flex-end;
    display: none;
    :hover {
        cursor: pointer;
        opacity: 0.8;
        background-color: #000;
    }
    :focus~.menu__link {
        height: 260px;
    }
    @media screen and (max-width: 576px){
        display: flex;
    }
}
a:hover,
.menu {
    background-color: #000;
    height: 10vh;
    left: 0px;
    width: 100%;
}
.menu__lista {
    display: flex;
    justify-content: space-evenly;
    @media screen and (max-width: 576px){
        right: 0;
        width: 50vw;
        background: #FFFF;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        margin: 0;
        height: 0;
        padding: 0;
    }
    
}
.menu__link {
    color: #FFFF;
    font-weight: 400;
    font-size: 1.1em;
    line-height: 10vh;
    list-style-type: none;        
    justify-content: space-between;
    overflow: hidden;
    text-decoration: none;
    top: 4vh;
    @media screen and (max-width: 576px) {
        transition:all .4s;
        text-align: center;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        font-size: 0.9em;
        font-weight: 100;
    }
}



.formulario {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0rem;
    margin: 1% 0 0 4%;
    @media screen and (max-width: 576px) {
        gap: 0rem;
        float: right;
    }
}
.formulario__pesquisar {
    border: 1px solid #353333;
    margin-right: 8px;
    width: 85vw;
    @media screen and (max-width: 576px){
        height: 8vh;
        width: 78vw;
        font-size: 1.1em;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 8vh;
        width: 78vw;
    }
}
.formulario__botao__pesquisa {
    border: 1px solid rgba(80, 79, 80, 0);
    border-radius: 1vh;
    background: #000;
    width: 7vw;
    
    svg {
        color: #FFF;
        bottom: -0.01%;    
        transform: matrix(-1, 0, 0, 1, 0, 0);
        top: 0%;
    }
    @media screen and (max-width: 576px){
        height: 8vh;
        width: 15vw;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 8vh;
        width: 13vw;
    }
}




.banner{
    background: #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 31%;
    height: 10vw;
    margin: 1% 0 0 4%;
    width: 90%;
    @media screen and (max-width: 576px){
        height: 26vh;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 26vh;
    }
    @media screen and (min-width: 769px) and (max-width: 992px){
        height: 26vh;
    }
}
.banner__conteudo{
    grid-column: 1 / -1;
    height: 26vh;
}
.banner__conteudo__texto{
    color: #FFF;
    font-weight: 400;
    font-size: 1.4rem;
    text-align: center;
    line-height: 3em;
    @media screen and (max-width: 576px){
        font-size: 1em;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        font-size: 1em;
    }
    @media screen and (min-width: 769px) and (max-width: 992px){
        font-size: 1rem;
    }
}
.banner__conteudo__titulo{
    font-size: 2rem;
    line-height: 0vh;
    margin-top: -4vh;
    @extend .banner__conteudo__texto;
    @media screen and (max-width: 576px){
        font-size: 1rem;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        font-size: 1.3rem;
    }
    @media screen and (min-width: 769px) and (max-width: 992px){
        font-size: 2rem;
    }
    
}

.banner__logo{
    grid-column: 2 / span 2;
    margin-top: 1rem;

    .logo__titulo{
        color: #FFF;
        font-family: Helvetica, sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 75%;
        margin-block-end: 0%;
        text-align: end;
        line-height: 1vh;
        
        @media screen and (max-width: 576px){
            font-size: 1.5rem;
            line-height: 4vh;
        }
        @media screen and (min-width: 577px) and (max-width: 768px){
            font-size: 1.5rem;
            line-height: 4vh;
        }
        @media screen and (min-width: 769px) and (max-width: 992px){
            font-size: 1.5rem;
            line-height: 4vh;
        }
    }
    .logo__texto{
        color: #FFF;
        font-family: Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        text-align: end;
        margin-top: 1%;
    }
}



.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    height: 100%;
    margin: 0 0 0 4%;
    @media screen and (max-width: 576px){
        grid-template-columns: 1fr;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        grid-template-columns: 1fr;
    }
}
.blog__titulo {
    color: #000;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3rem;
    width: 83%;
    @media screen and (max-width: 576px){
        font-size: 1.8rem;
        width: 90%;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        width: 90%;
    }
}
.blog__imagem__principal {
    margin: 0%;
    @media screen and (max-width: 576px){
        text-align: center;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        text-align: center;
    }
}
.blog__imagem__principal__tamanho {
    height: 63vh;
    width: 37vw;
    @media screen and (max-width: 576px){
        width: 82vw;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 72vh;
        width: 82vw;
    }
}
.blog__texto__principal {
    color: #000;
    font-weight: 400;
    font-size: 1.1em;
    width: 80%;
    @media screen and (max-width: 576px){
        margin: 0 0 0 6%;
        line-height: 135%;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        margin: 0 0 0 6%;
        line-height: 135%;
    }
}
.blog__conteudo {
    margin-top: 12%;
    width: 100%;
}
.blog__secundario {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    @media screen and (max-width: 576px){
        grid-template-columns: 1fr;
    }
}
.blog__imagem__secundaria {
    margin: 0%;
    width: 78%;
}
.blog__imagem__secundaria__tamanho {
    height: 40vh;
    width: 20vw;
    @media screen and (max-width: 576px){
        height: 57vh;
        margin: 0 0 0 6%;
        width: 82vw;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 52vh;
        width: 45vw;
    }
}
.blog__texto__secudario {
    color: #000;
    font-size: 1.2em;
    margin: 0%;  
    @media screen and (max-width: 576px){
        margin-top: 2%;
    }  
}
.blog__terciario {
    @extend .blog__secundario;
    margin-top: 4%;
}
.blog__imagem__terciaria {
    @extend .blog__imagem__secundaria;
}
.blog__imagem__terciaria__tamanho {
    @extend .blog__imagem__secundaria__tamanho;
}
.blog__texto__terceiro {
    @extend .blog__texto__secudario;
}

