@import '../../../style.module.scss';

.minha__sacola__botao__quantidade {
    align-self: center;
    display: flex;
    font-size: large;
    gap: 1em;
    
    height: 0%;
    line-height: 0%;
    @media screen and (max-width: 576px){
        justify-content:center;
    }
}
.minha__sacola__quantidade__botao {
    background-color: $colorBackground;
    border: none;
    color: $colorPreco;
    @media screen and (max-width: 576px){
        height: 8vh;
        width: 8vw;
    }
}