@import '../../../style.module.scss';

input{
    appearance: none;
}
.minha__sacola__botao__tamanho {
    @include borderTamanho;
    grid-column: 1;
    height: 4vh;
    font-size: 3em;
    text-align: center;
    width: 2vw;
    @media screen and (max-width: 576px){
        height: 4vh;
        width: 5vw;
        font-size: 3em;
        text-align: center;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 4vh;
        width: 4vw;
        font-size: 3em;
        text-align: center;
    }
    @media screen and (min-width: 769px) and (max-width: 992px){
        height: 4vh;
        width: 3vw;
        font-size: 3em;
        text-align: center;
    }
}
.minha__sacola__imagem__botao {
    align-items: flex-start;
    display: flex;
    gap: 1em;       
    width: 100%;
    @media screen and (max-width: 576px){
        justify-content:center;
    }
}